.classroom_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
} 

.classroom_content {
    padding-left: 5vw;
}

.classroom_title {
    font-size: 3rem;
    text-align: center;
    background-color: rgb(27, 151, 147, 0.25);
    border: none;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}